@import url('https://fonts.cdnfonts.com/css/harry-potter');

body {
    margin-top: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#home-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.harry-potter {
  width: 400px;
  margin-top: 0;
  padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

#score,
#lives {
    display: flex;
    color: #FFF;
    font-family: 'Harry Potter', sans-serif;
}

#timer {
    
  font-family: 'Harry Potter', sans-serif;
    color: #FFF;
    
}


#game-screen {
    color: #FFF;
    display: none;
    width: 100%;
    height: 80vh;
    padding: 20px;
    overflow: hidden;
    position: relative;
}


#game-box {
  overflow: hidden;
  display: none;
  background-color: darkgray;
  width: 600px;
  height: 400px;

  position: relative; 
  overflow: hidden; 
  user-select: none; 
  
  background-image: url("./img/new-background");
  background-position: center;
  background-size: cover;
}

#game-box * {
    pointer-events: none; /* previene que todos los elementos del game-box sean arrastrados al clickar sobre ellos */
  }
  
  #game-screen, #game-over-screen {
    display: none;
  }

  #next-level-screen {
    text-align: center;
    color: #FFF;
    font-family: 'Harry Potter', sans-serif;
    overflow: hidden;
    display: none;
  }

  #winner-screen {
    overflow: hidden;
    display: none;
    text-align: center;
    color: #FFF;
    font-family: 'Harry Potter', sans-serif;
  }


  #start-next-level-btn {
    background-color: #FFF;
    color: black;
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 50px;
    box-shadow: 0 0 10px #FFF;
    font-family: 'Harry Potter', sans-serif;
  }


#start-btn {
    background-color: #FFF;
    color: black;
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px #FFF;
    font-family: 'Harry Potter', sans-serif;
}

#restart-btn {

    background-color: #FFF;
    color: black;
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: 0 0 10px #FFF;
    font-family: 'Harry Potter', sans-serif;
}

#restart-second-btn {
  background-color: #FFF;
    color: black;
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: 0 0 10px #FFF;
    font-family: 'Harry Potter', sans-serif;
}

#game-over-screen {
    overflow: hidden;
    display: none;
    color: #FFF;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Harry Potter', sans-serif;
}